@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;

  flex-flow: column wrap;
}
a {
  text-decoration: none;
  color: #e5e7eb;
}

.img1 {
  max-width: 250px;
}

.head,
.footer {
  background-color: #172937;
  color: #e5e7eb;
}
.text1 {
  font-size: 48px;
  color: #f9faf6;
  font-weight: 900;
}
.text2 {
  font-size: 18px;
  color: #e5e7eb;
}
.Logo {
  font-size: 25px;
  color: #f9faf8;
}
button {
  background-color: #3882f6;
  color: white;
  border-radius: 10%;
  padding: 10px 30px; /* Here padding used to increse button size insted of width,height */
}
button:hover {
  color: #9aeca1;
}
.signup {
  background-color: #3882f6;
  margin: 30px auto;
  border-radius: 15px;
}
.signupbackgound {
  background-color: white;
}

.signuptext1 {
  color: white;
}
.signuptext2 {
  color: #e5e7eb;
}

.signup button {
  border-color: white;
}
.conthead {
  font-size: 38px;
  font-weight: 900;
  color: #1f2937;
}
.quote {
  background-color: #e5e7eb;
}
.quotetxt {
  font-size: 35px;
  font-style: italic;
  color: #1f2937;
}

/* Until above only styling ,now i align using flex */

.head {
  display: flex;
  flex-flow: column;
  gap: 80px;
  padding: 80px;
}
.linkdiv {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.fulltextimgdiv {
  display: flex;
  justify-content: space-between;
}
.textdiv {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 450px;
  gap: 10px;
}

.H-links {
  display: flex;
  gap: 20px;
}
.content {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;

  justify-content: space-around;
}
.conthead {
  margin: auto;
  padding: 50px 50px 0 50px;
}
.allcontpics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 80px;
}

/* so for resizing image i have to apply style to img only if div has img and another div img is not resizing */

.allcontpics div img {
  max-width: 150px;
  height: 150px;
}

.allcontpics div {
  display: flex;
  flex-flow: column;
  max-width: 150px;
  text-align: center;
}

a,
p,
h6 {
  margin: 0;
  padding: 0;
}
.quote {
  display: flex;
  flex-flow: column;
  padding: 80px;
  flex-wrap: wrap;
  align-items: center;
}
.quotetxt {
  max-width: 500px;
}
.author {
  padding-left: 300px;
}

.signupbackgound {
  padding: 80px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
}
.signup {
  padding: 80px 120px;
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
